* {
    margin: 0;
    padding: 0;
}

:root {
    --tan: #b0946b;
    --darkgray: #121212;
}

html, body {
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--darkgray);
}

main, header, footer {
    width: 100vw;
}

main {
    margin-top: -100px;
}

h1, h2, h3 {
    font-family: serif;
    font-weight: 700;
}
p, button, h4 {
    font-family: sans-serif;
    font-weight: 100;
}
