* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    width: 100vw;
}

body {
    background-color: var(--darkgray);
}

main, header, footer {
    width: calc(100vw - 15px);
}

main {
    margin-top: -100px;
}

:root {
    --tan: #b0946b;
    --darkgray: #121212;
}

h1, h2 {
    font-family: 'Boska', serif;
}
p, button {
    font-family: 'General Sans', sans-serif;
}

/*
    FONTS:

    font-family: 'Boska', serif;
    font-family: 'General Sans', sans-serif;
        font-family: 'Switzer', sans-serif;
        
*/