header {
    width: 100vw;
    height: 90px;
    position: fixed;
    background-color: #131313;
    z-index: 5;
}

.header-div {
    width: 95%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo-div {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: left;
}

.banner {
    background-color: #b5986c;
    width: 140px;
    height: 150px;
    position: relative;
}

.logo {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        color: #8e9399;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 100;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;

        li {
            cursor: pointer;
        }
    }
}

.reserve-div {
    width: 25%;
    display: flex;
    justify-content: right;
    align-items: center;

    button {
        width: 165px;
        height: 48px;
        background-color: #b5986c;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
}