header {
    width: 100vw;
    height: 90px;
    position: fixed;
    background-color: var(--darkgray);
    z-index: 5;
}

.header-div {
    width: 95%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.logo-btn {
    width: 15%;
    max-height: 90%;
    background: transparent;
    border: none;
    cursor: pointer;

    .logo {
        width: 15%;
        max-height: 90%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-45%);
    }
}


.nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.nav ul li button {
    background: transparent;
    border: none;
    color: #8e9399;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
    cursor: pointer;
    transition: color 0.5s ease;
}

.nav ul li button:hover {
    color: white;
    transition: color 0.3s ease;
}

.reserve-div {
    width: 25%;
    display: flex;
    justify-content: right;
    align-items: center;

    button {
        width: 165px;
        height: 48px;
        background-color: var(--tan);
        font-size: 16px;
        border: 1px solid var(--tan);
        cursor: pointer;
        transition: background 0.5s ease;

        a {
            text-decoration: none;
            color: white;
        }
    }
    button:hover {
        transition: background 0.3s ease;
        background-color: rgba(181, 152, 108, 0.8);
    }
}

.M-screen {
    display: none;
}



.lang-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.active-lang {
    text-decoration: none;
    color: #8e9399;
    pointer-events: none;
    text-decoration: underline;
}

.disabled-lang {
    text-decoration: none;
    color: #6a6d72;
    cursor: default;
    pointer-events: all;
    transition: color 0.5s ease;
}
.disabled-lang:hover {
    color: white;
    transition: color 0.3s ease;
}
