

/* === HERO === */



.bg {
    width: 100%;
    height: 117vh;
    background: url(../assets/image1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
    opacity: 0.6;
}

.hero {
    width: 100%;
    height: 117vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transform: translateY(100px);

    .hero-h1-div {
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: left;
        align-items: center;

        h1 {
            color: white;
            font-size: 75px;
            font-weight: 100;
            letter-spacing: 1px;
            width: 100%;
            max-width: 1200px;
            margin: auto;
        }
    }

    .hero-btn-div {
        width: 95%;
        max-width: 1200px;
        margin: auto;
        height: 70px;
        display: flex;
        justify-content: left;
        align-items: center;
        transform: translateY(-250px);

        button {
            width: 270px;
            height: 70px;
            background-color: transparent;
            border: 1px solid gray;
            font-size: 20px;
            color: white;
            letter-spacing: 1px;
            transition: all 0.3s ease;
        }

        button:hover {
            background-color: var(--tan);
            transition: all 0.3s ease;
        }
    }
}


/* === INFO === */



.info {
    transform: translateY(-100px);
    width: 95vw;
    max-width: 1300px;
    height: 65vh;
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin: auto;
}

.address, .working-hours, .phone {
    width: 30%;
    height: 100%;
    background-color: #161c22;
    color: var(--tan);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        margin-top: 70px;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 50px;
    }
}

.icon-div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-color: var(--tan);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 45%;
    height: 45%;
}

.small-line {
    margin: 20px 0 30px 0;
    width: 30px;
    border-bottom: 1px solid rgba(181, 181, 181, 0.3);
}

.karte-link {
    text-decoration: none;
    color: white;
    border: 1px solid rgba(181, 181, 181, 0.3);
    padding: 10px 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    .arrow {
        color: var(--tan);
        font-weight: 900;
        font-size: 22px;
        padding-left: 10px;
        transform: translate(2px, -1px);
    }
}

.karte-link:hover {
    background-color: #2d3135;
    transition: all 0.3s ease;
}

#address-img {
    background: url(../assets/address.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px 100px 0 0;
    width: 220px;
    height: 270px;
    opacity: 0.5;
    transition: all 0.2s ease;
}
.address:hover {
    #address-img {
        opacity: 0.8;
        transition: all 0.2s ease;
    }
}

#hours-img {
    background: url(../assets/hours.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 150px 150px 0 0;
    width: 220px;
    height: 180px;
    opacity: 0.5;
    transition: all 0.2s ease;
}
.working-hours:hover {
    #hours-img {
        opacity: 0.8;
        transition: all 0.2s ease;
    }
}

#phone-img {
    background: url(../assets/phone.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px 100px 0 0;
    width: 220px;
    height: 270px;
    opacity: 0.5;
    transition: all 0.2s ease;
}
.phone:hover {
    #phone-img {
        opacity: 0.8;
        transition: all 0.2s ease;
    }
}


.hours:nth-child(5), .hours:nth-child(8), .hours:nth-child(11){
    color: white;
    font-size: 24px;
    margin-top: 5px;
}

.hours:nth-child(4), .hours:nth-child(7), .hours:nth-child(10) {
    color: rgba(181, 181, 181, 0.5);
    font-size: 20px;
}

.phone p {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;

    a {
        color: var(--tan);
        text-decoration: none;
        transition: all 0.3s ease;

        span {
            color: rgba(181, 181, 181, 0.5);
        }
    }
    a:hover {
        background-color: rgba(181, 181, 181, 0.1);
        transition: all 0.3s ease;
    }
}


@media screen and (max-width: 1400px) {
    .address, .working-hours, .phone {
        h1 {
            margin-top: 50px;
        }
    }
}




/* === ABOUT === */

.about {
    margin-top: 600px;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
        color: var(--tan);
        font-size: 50px;
        margin-bottom: 20px;
    }
    h2 {
        color: #8e9399;
        font-weight: 100;
        margin: 10px 5%;
        line-height: 40px;
        max-width: 1300px;
        padding-top: 40px;
    }
    .curtain-h2 {
        color: #8e9399;
        font-weight: 100;
        text-align: center;
        line-height: 40px;
        max-width: 1300px;
        margin-top: 70px;
        margin: 100px 10%;
    }
}

.medium-line {
    margin: 20px 0 30px 0;
    width: 70px;
    border-bottom: 2px solid var(--tan);
}

.about-img {
    width: 90%;
    max-width: 1300px;
    height: 50vw;
    max-height: 700px;
    background: url(../assets/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.curtain {
    width: 100%;
    height: 100%;
    transform: translateY(-730px);
}


/* === SECTION === */


#curtainBtn {
    font-size: 25px;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    color: rgba(181, 181, 181, 0.5);
    text-decoration: underline;
    margin-top: 30px;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: color 0.5s ease;
}
#curtainBtn:hover {
    color: rgb(180, 180, 180);
    transition: color 0.3s ease-in;
}

.section {
    z-index: 1;
    height: 20vh;
    width: 100%;
    background-color: #131313;
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;
}

.section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    box-shadow: 0 -30px 100px 60px #131313;
    pointer-events: none;
}


.no-shadow::before {
    box-shadow: none;
}



/* === BANKETI === */



.menu {
    background-color: #f6ede0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
        color: var(--tan);
        font-size: 50px;
        margin-bottom: 20px;
        margin-top: 100px;
    }
}

.big-icon-div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 200px;
    background: linear-gradient(135deg, #342e25, #131313);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.big-icon {
    width: 47%;
    height: 47%;
}


.large-line {
    margin: 20px 0 30px 0;
    width: 100px;
    border-bottom: 1px solid var(--tan);
}

.menu-buttons-div {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    height: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.menu_button {
    border: none;
    color: var(--tan);
    font-size: 22px;
    padding-bottom: 20px;
    width: 150px;
    background-color: transparent;
    cursor: pointer;
}

.active-menu-btn {
    color: #131313;
    border-bottom: 1px solid #131313;
    cursor: default;
}

.menu-page, .pamat-page {
    width: 95%;
    max-width: 1200px;
    min-height: 500px;
    flex-direction: column;
    position: relative;
    display: none;
    margin-bottom: 200px;
}

#uzkodas {
    display: flex;
}

.menu-item {
    width: 60%;
    position: relative;
    border-bottom: 1px solid var(--tan);
    display: flex;
    flex-direction: row;
}

.menu-apraksts {
    width: 85%;

    h1 {
        font-size: 20px;
        color: black;
        letter-spacing: 1px;
        margin-bottom: 5px;
        margin-top: 20px;

        span {
            font-size: 16px;
            font-weight: 100;
        }
    }
    p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    h2 {
        position: absolute;
        bottom: 10px;
        right: 0;
        color: var(--tan);
    }
}

.menu-cena {
    width: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}

.menu-img {
    position: absolute;
    right: 0;
    top: 10px;
    width: 35%;
    height: 500px;
    border-radius: 100px 0 0;
}



.drinks {
    position: relative;
    height: 50vh;
}

#uzkodas-img {
    background: url(../assets/uzkodas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#zupas-img {
    background: url(../assets/zupas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pamatediens-img {
    background: url(../assets/pamatediens.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#saldieEdieni-img {
    background: url(../assets/saldie.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pamatedienu-pogas {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pamatediena_button {
    border: none;
    color: #131313;
    font-size: 12px;
    padding-bottom: 10px;
    width: 100px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
}

.pamat-page {
    display: none;
}

#liellopa-section {
    display: flex;
}

.active-pamat-btn {
    border-bottom: 1px solid #131313;
    cursor: default;
}

.underline {
    position: relative;
    display: inline-block;
    margin: 0;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background: var(--tan);
    transition: width 0.5s ease;
}

.underline:hover::after {
    width: 100%;
}

.pancakesh1 {
    border: none;
}

.pancake1 {
    margin-left: 30px;
    width: calc(60% - 30px);
}

.alergeni {
    position: absolute;
    bottom: -35px;
    right: 5%;
    background: transparent;
    border: none;
    font-size: 14px;
    color: rgb(0, 0, 118);
    cursor: pointer;
}


.underline-blue {
    position: relative;
    display: inline-block;
    margin: 0;
}

.underline-blue::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background: rgb(0, 0, 118);
    transition: width 0.5s ease;
}

.underline-blue:hover::after {
    width: 100%;
}

