/* === FOODS MENU === */



.menu {
    background-color: #f0e8dd;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
        color: var(--tan);
        font-size: clamp(30px, 7vw, 50px);
        margin-bottom: 20px;
        margin-top: 130px;
    }
}

.big-icon-div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(100px, 10vw, 150px);
    height: clamp(100px, 10vw, 150px);
    border-radius: 200px;
    background: linear-gradient(135deg, #342e25, var(--darkgray));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.big-icon {
    width: 47%;
    height: 47%;
}


.large-line {
    margin-bottom: 30px;
    width: 100px;
    border-bottom: 1px solid var(--tan);
}

.menu-buttons-div {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.menu_button, .drink_button {
    border: none;
    color: var(--tan);
    font-size: clamp(8px, 3vw, 24px);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 150px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}
.menu_button:hover, .drink_button:hover {
    transition: all 0.2s ease;
    background-color: rgba(176, 148, 107, 0.1);
}



.active-menu-btn {
    color: var(--darkgray);
    border-bottom: 1px solid var(--darkgray);
    cursor: default;
}

.menu-page, .pamat-page, .drinks-page {
    width: 95%;
    max-width: 1200px;
    min-height: 500px;
    flex-direction: column;
    position: relative;
    display: none;
    margin-bottom: 100px;
}

.menu-item {
    width: 60%;
    position: relative;
    border-bottom: 1px solid var(--tan);
    display: flex;
    flex-direction: row;
}

.menu-apraksts {
    width: 85%;

    h1 {
        font-size: clamp(14px, 3vw, 20px);
        color: black;
        letter-spacing: 1px;
        margin-bottom: 5px;
        margin-top: 20px;

        span {
            font-size: clamp(10px, 2vw, 14px);
            font-weight: 100;
        }
    }
    p {
        font-size: clamp(9px, 2vw, 16px);
        margin-bottom: 15px;
    }
    h2 {
        position: absolute;
        bottom: 10px;
        right: 0;
        color: var(--tan);
        font-size: clamp(12px, 4vw, 30px);
    }
}

.menu-cena {
    width: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}

.menu-img {
    position: absolute;
    right: 0;
    top: 10px;
    width: 35%;
    height: 500px;
    border-radius: 100px 0 0;
}

#uzkodas-img {
    background: url(../assets/uzkod.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#zupas-img {
    background: url(../assets/zupa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pamatediens-img {
    background: url(../assets/pamat.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#saldieEdieni-img {
    background: url(../assets/sald.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pamatedienu-pogas {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pamatediena_button {
    border: none;
    color: var(--darkgray);
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.pamatediena_button:hover {
    transition: all 0.2s ease;
    background-color: rgba(176, 148, 107, 0.3);
}


.active-pamat-btn {
    border-bottom: 1px solid var(--darkgray);
    cursor: default;
    background-color: rgba(176, 148, 107, 0.1);
}

.underline {
    position: relative;
    display: inline-block;
    margin: 0;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background: var(--tan);
    transition: all 0.5s ease;
}

.underline:hover::after {
    width: 100%;
}

#pankukas .menu-item:nth-child(1) {
    border: none;
    margin-bottom: -15px;
}

#pankukas .menu-item:nth-child(5) {
    border: none;
    margin-top: 20px;
    margin-bottom: -15px;
}

.alergeni {
    position: absolute;
    bottom: -35px;
    right: 5%;
    background: transparent;
    border: none;
    font-size: 14px;
    color: rgb(0, 0, 118);
    cursor: pointer;
}


.underline-blue {
    position: relative;
    display: inline-block;
    margin: 0;
}

.underline-blue::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background: rgb(0, 0, 118);
    transition: all 0.5s ease;
}

.underline-blue:hover::after {
    width: 100%;
}



/* === DRINKS MENU === */



.drinks {
    background-color: var(--darkgray);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;

    h1 {
        color: var(--tan);
        font-size: clamp(30px, 7vw, 50px);
        margin-bottom: 20px;
        margin-top: 130px;
    }
}


.active-drink-btn {
    color: white;
    border-bottom: 1px solid white;
    cursor: default;
}


.drinks-img {
    position: absolute;
    right: 0;
    top: 10px;
    width: 35%;
    height: 500px;
    border-radius: 100px 0 0;
}


#vini-img {
    background: url(../assets/drink1.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.drink-item {
    width: 60%;
    height: 120px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--tan);
}

.drink-title-div {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;

    .origin {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--tan);
        color: white;
        text-transform: uppercase;
        padding: 3px 0;
        width: 90px;
        text-align: center;
        font-size: clamp(9px, 2vw, 13px);
        margin-bottom: 20px;
    }
    .drink-title {
        color: #f0e8dd;
        font-size: clamp(14px, 2vw, 22px);
        font-family: 'Boska', serif;
        text-transform: uppercase;
    }
    .type {
        color: #f0e8dd;
        font-size: clamp(12px, 2vw, 16px);
        font-weight: 100;
        margin-top: 10px;
    }
    .description {
        color: #f0e8dd;
        font-size: clamp(9px, 2vw, 14px);
        margin-top: 10px;
    }
}

.drink-variants-div {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: #f0e8dd;
    margin-right: 20px;
    font-size: clamp(14px, 2vw, 20px);
}

#kokteili .drink-variants-div {
    font-size: clamp(16px, 2vw, 22px);
}

.menu-link {
    position: absolute;
    top: 20px;
    right: 30px;
    color: black;
    text-decoration: none;
    padding: 5px;
    transition: all 0.5s ease;
}

.menu-link:hover {
    transition: all 0.5s ease;
    background-color: rgba(176, 148, 107, 0.3);
}
